<div ng-controller="MainCtrl">
  <div ng-show="sessionStarted">
    Current session:<br>
    {{currentSession.title}}  -- 
    <span ng-show="session.huhs">
    <span ng-repeat="huh in currentSession.huhs">
      <span ng-show="$last">{{$index}}</span>
    </span>
    </span>
    <span ng-hide="session.huhs">
      0
    </span>
    <input type="button" value="Stop session" ng-click="endSession()"> 
  </div>
  <div ng-hide="sessionStarted">
    <form  ng-submit="addSession()">
      <input type="text" name="title" ng-model="title">
      <input type="submit" value="Start session">
    </form>
  </div>

  <h2>Past sessions</h2>
  <div ng-repeat="session in sessions"> 
    
    {{session.title}} --  
    <span ng-show="session.huhs">
      <span ng-repeat="huh in session.huhs">
        <span ng-show="$last">{{$index}}</span>
      </span>
    </span>
    <span ng-hide="session.huhs">
      0
    </span>
  </div>
</div>
