
<header id="container-header">
  <h3>Past sessions</h3>
  <div class="user">
    <div ng-cloak ng-show-auth="login" ng-controller="LoginController">
      <a href="#" ng-click="logout()">Log Out</a>
      <span ng-bind="currentUser.displayName"></span>
      <img ng-src="{{currentUser.avatarLink}}" class="avatar">
    </div>
    <div ng-cloak ng-show-auth="['logout','error']">
      <a href="#/login">Log In</a>
    </div>
  </div>
</header>

<div id="feed" ng-controller="MainCtrl">
  <ul>
    <li class="post" ng-repeat="session in sessions">
      <span class="count">
        <span ng-show="session.huhs">
          <span ng-repeat="huh in session.huhs">
            <span ng-show="$last">{{$index}}</span>
          </span>
        </span>
        <span ng-hide="session.huhs">0</span>
      </span>

      <span class="title">
        {{session.title}}
      </span>

    </li>
  </ul>
</div>
